body{
    font-family: 'Roboto', sans-serif;
    background-color: aquamarine;
}
/* grid 960px */
.linha{
    width: 960px;
    margin: auto;
    overflow: auto;
    padding: 5px o;

}
.header{
    background-color: aqua;
}
a{
    text-decoration: none;
    color: rebeccapurple;
}
a:hover{
    text-decoration: underline;
    color: silver;
}
ul{
   list-style: none; 
}
.coluna{
    padding: 0 10px;
    float: left;
}
.col1{
    width: 60px;
}
.col2{
    width: 140px;
}
.col3{
    width: 220px;
}
.col4{
    width: 300px;
}
.col5{
    width: 380px;
}
.col6{
    width: 460px;
}
.col7{
    width: 540px;
}
.col8{
    width: 620px;
}
.col9{
    width: 700px;
}
.col10{
    width: 780px;
}
.col11{
    width: 860px;
}
.col12{
    width: 940px;
}
.footer{
    background-color: aqua;
}