* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --background: #222327
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
#tsparticles {
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  width: 100%;
  height: 100%;
}
